<div class="text-white pt-16 flex justify-between mx-2">
    <h1 class="text-xl font-bold">Barajas: {{0}}</h1>
    <div class="">
        
        <input class="rounded-sm text-black" type="text" name="search" id="search" placeholder="Nombre de la baraja">
        <button class="bg-green-700 rounded-sm  px-4">Buscar</button>
    </div>
</div>
<div>
    <ul>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
        <li>cards </li>
    </ul>
</div>